* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

ul li {
  list-style-type: none;
}

.btn-1 {
  background-color: #ffb342;
  width: 191px;
  height: 65px;
  gap: 10px;
  color: #1c2752;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

p {
  font-weight: 400;
  font-size: 18px;
  color: #7e7e7e;
  line-height: 21.78px;
}

li {
  font-weight: 400;
  font-size: 18px;
  color: #7e7e7e;
  line-height: 21.78px;
}

a {
  font-weight: 600;
  font-size: 20px;
  line-height: 24.2px;
  color: #2f2f2f;
  text-decoration: none;
}

h2 {
  font-weight: 800;
  font-size: 45px;
  line-height: 56.48px;
}
/* Header */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header > * {
  margin: 1rem;
}

.contact {
  display: flex;
}

.mail {
  display: flex;
  align-items: center;
}

/* menu */

.menu {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 90px;
  padding: 1rem;
  width: 60%;
  height: 93px;
  background-color: #ffb342;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu a {
  margin-left: 1rem;
}

.menu div:nth-child(2) {
  gap: 10px;
  background-color: #1c2752;
  padding: 20px;
  cursor: pointer;
}

.menu div:nth-child(2) p {
  color: white;
}
/* banner */

.banner {
  background-image: url(img/backgroundimg.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  width: 50%;
}

.content > * {
  margin: 1rem;
}
.content p {
  color: #ffffff33;
}
.content div p {
  color: white;
}
.content h1 {
  font-weight: 800;
  font-size: 60px;
  color: white;
}

.content div {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
}

/* about */

.about {
  margin: 5rem auto;
  width: 1200px;
  display: flex;
}

.about-title {
  margin: 2rem;
}

.experience {
  display: flex;
  align-items: center;
}

/* main services */

.orange-bg {
  position: relative;
  width: 100%;
  height: 750px;
  background-color: #ffb342;
}

.main-services {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 100px;
  width: 70%;
  text-align: center;
}

.main-services > * {
  margin: 1rem;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.button-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 221px;
  height: 65px;
  border: 1px solid black;
}

.commercial-container {
  margin-top: 3rem;
  width: 100%;
  background-color: white;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
}

.commercial-left {
  text-align: left;
  width: 50%;
}

.commercial-left button {
  border: none;
  margin-top: 2rem;
}

/* Our Services */

.services-bg {
  background-color: #f4f4f4;

  display: flex;
  align-items: center;
  justify-content: center;
}

.services {
  width: 70%;
}

.services-title {
  text-align: center;
}

.box {
  padding: 2rem;
  width: 383px;
  height: 322px;
  background-color: #1c2752;
  margin-bottom: 4rem;
}
.box h3 {
  color: #ffb342;
}

.box p {
  color: #d2d2d2;
}

.box button {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  line-height: 21px;
  background-color: #1c2752;
  border: none;
  cursor: pointer;
}
.box > * {
  margin-bottom: 1rem;
}

.boxes {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Choose Us */

.choose-container {
  display: flex;
  height: 921px;
}

.choose-left {
  width: 50%;
  background-image: url(img/workers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-inside {
  width: 70%;
  height: 70%;
  background-color: rgba(28, 39, 82, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inside-bullet div {
  display: flex;
  margin-bottom: 1rem;
}

.inside-bullet div > h5,
p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inside-bullet div h5 {
  text-align: center;
  color: black;
  width: 100px;
  height: 65px;
  background-color: rgba(255, 179, 66, 1);
  font-weight: 800;
  font-size: 25px;
  line-height: 35px;
}

.inside-bullet div p {
  border: 1px solid white;
  height: 65px;
  width: 220px;
  color: white;
}

.choose-right {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-title {
}

/* Recent Works */

.recent-bg {
  background-color: rgba(28, 39, 82, 1);
}

.recent-content {
  padding: 2rem;
}

.recent-title {
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}

.recent-boxes {
  display: flex;
  justify-content: space-between;
}

.box {
  width: 444px;
  height: 626px;
  padding: 2rem;
  background-color: white;
  text-align: center;
}

.box img {
  max-width: 100%;
  height: auto;
}
