* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

ul li {
  list-style-type: none;
}

.btn-1 {
  background-color: #ffb342;
  width: 191px;
  height: 65px;
  gap: 10px;
  color: #1c2752;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

p {
  font-weight: 400;
  font-size: 18px;
  color: #7e7e7e;
  line-height: 21.78px;
}

li {
  font-weight: 400;
  font-size: 18px;
  color: #7e7e7e;
  line-height: 21.78px;
}

/* Header */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact {
  display: flex;
}

.mail {
  display: flex;
  align-items: center;
}

/* banner */

.banner {
  background-image: url(img/backgroundimg.jpg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  width: 50%;
}

.content > * {
  margin: 1rem;
}
.content p {
  color: #ffffff33;
}
.content div p {
  color: white;
}
.content h1 {
  font-weight: 800;
  font-size: 60px;
  color: white;
}

.content div {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
}

/* about */

.about {
  margin: 5rem auto;
  width: 1200px;
  display: flex;
}

.about-title {
  margin: 2rem;
}

.experience {
  display: flex;
  align-items: center;
}
